@charset "UTF-8";

/* ------------------------------------------------------------------------- */
/* RESET
/* ------------------------------------------------------------------------- */
* {box-sizing:border-box}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, 
address, em, img, strong, i, dl, dt, dd, ul, li, 
fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, figure, button, input, select {
	margin: 0;
	padding: 0;
	border: 0;
  word-break: break-all;
}
:lang(ko) {word-break: keep-all;}
ul, li {list-style: none;} ul,li a{display: block;}
a {text-decoration: none; color: inherit;}
em, address {font-style: normal;}
h1, h2, h3, h4, h5, h6, strong {font-weight: normal;}
article, aside, figcaption, figure, footer, header, nav, section, main {display: block;}
table {border-collapse: collapse; border-spacing:0;}
input, button, select {
    border: none;
    border-radius:0; 
    background-color: transparent;
}
select {appearance:none; -webkit-appearance:none;  -moz-appearance:none;}
button, select {cursor: pointer;}
input:focus, select:focus, option:focus, textarea:focus, button:focus {outline: none;}
textarea, textarea:focus {border: none; outline: none;}


img, svg, video, canvas, audio, iframe {display: block;}
img, video {max-width: 100%; height: auto;}

body, .tui-grid-table {
  font: 400 16px/2.1rem 'Pretendard', 'Noto Sans KR', 'Malgun Gothic' ,'돋움', dotum, AppleGothic, sans-serif; 
  background-color: #fff;
  overflow-x: hidden;
}
html {font-size: 62.5%;}


/* ------------------------------------------------------------------------- */
/* FONTS
/* ------------------------------------------------------------------------- */
@font-face {
    font-family: 'Pretendard';
    src:url('/assets/fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src:url('/assets/fonts/Pretendard-Regular.woff') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src:url('/assets/fonts/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src:url('/assets/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src:url('/assets/fonts/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src:url('/assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src:url('/assets/fonts/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src:url('/assets/fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



/* ------------------------------------------------------------------------- */
/* COMMON
/* ------------------------------------------------------------------------- */
:root {
  --primary: #00479D;
  --primary2: #10298E;
  --secondary:#0C1B70;
  --addfile:#0F509A;
  --addfileHover:#16457C;
  --l_Blue:#D2E6FF;
  --l_Blueborder:#58ADFF;
  --l_Bluetxt:#D2E6FF;
  --l_blueBuget:#3E62E3;
  --menuTitle:#2174D9;
  --menuHover:#E6F2FF;
  --scroll:#B8B8B8;
  --tabDisable:#EEF1F7;
  --disableText:#788AA2;
  --disablebg:#EEF1F7;
  --newBtn:#FF9900;
  --tableTop:#606E82;
  --tablebd:#C9D0DA;
  --tablebg:#E6F1FF;
  --tfootbg:#FFEFE4;
  --tdcolor:#303741;
  --pagebg:#F9F9F9;
  --pagetxt:#76768E;

  --bg:#F9FAFC;
  --gray200:#CFCFCF;
  --gray100:#E8E8E8;  
  --gray300:#B8B8B8;  
  --gray400:#A0A0A0;  
  --text1:#111111;
  --text4:#414141;
  --text5:#595959;
  --text8:#898989;
  
  --dimmed:rgba(17, 17, 17, 0.7);
  --boxshadow: 1px 1px 10px rgba(0,0,0,0.12);

}

::-webkit-scrollbar {width: 4px; height: 8px;}
::-webkit-scrollbar-thumb {background:var(--scroll); border-radius: 10px;}
.scroll_wrap::-webkit-scrollbar{ height:4px ;}
.scroll_wrap::-webkit-scrollbar-track{ background-color: #F9F9F9; }
.scroll_wrap::-webkit-scrollbar-thumb{ background-color: var(--gray300); border-radius: 10rem;}

.soundOnly {width: 0; height: 0; position: absolute; left: -9999px; top: 0; overflow: hidden;}
.flexi{display: flex; align-items: center;}
.flexible{display: flex; align-items: center; justify-content: center;}
.flexEnd {display: flex; align-items: center; justify-content: space-between;}
.row{ display: flex;}
.col{ display: flex; flex-direction: column;}
.end{ display: flex; align-items: center; justify-content: flex-end;}
.alend {display: flex; align-items: flex-end;}
.fstart{display: flex; align-items: flex-start; justify-content: space-between;}
.relative {position: relative;}
.scrollY {overflow-x: hidden; overflow-y: auto;}
body.no-scroll { overflow: hidden; }
.dimmed{ width: 100%; height: 100%; background-color: var(--dimmed);}
.mt0 { margin-top: 0;}
.ml0 { margin-left: 0;}
.mt8 { margin-top: 8px;}
.ml8{ margin-left: 8px;}
.mr8{ margin-right: 8px;}
.mb8{ margin-bottom: 8px;}
.mt40 { margin-top: 4rem;}





/* ------------------------------------------------------------------------- */
/* LAYOUT
/* ------------------------------------------------------------------------- */
#wrap{
  max-width: 256rem; width: 100%;
  height: 100%;
  margin: 0 auto;
}


/******** header ********/
header#header { 
  width: 100%; height: 7rem;
  display: flex; align-items: center;
  background-color: #fff; 
  border-bottom: 1px solid var(--gray200);
  position: fixed; top: 0; left: 0;
  z-index: 1000;
  transition: transform 0.2s ease;
}
header.hide{transform: translateY(-100%);}
header#header h1 a img{flex-shrink: 0;}

.h_inner{
  width: 100%; height: 100%;
  padding: 0 4rem;
}
#logo .bold{
  font-weight: 700; line-height: 2.4rem;
  color: var(--primary);
}
#logo .bold::before{
  display: inline-block; content: '';
  width: 1px; height: 14px;
  background-color: var(--gray200);
  margin: 0 1rem;
}


/******** gnb ********/
#gnb { height: 100%; }

#gnb .dimmed{
  width: 100%; min-height: 100vh;
  background-color: var(--dimmed);
  position: absolute; top: 7rem; left: 0;
  z-index: -1;
  pointer-events: none;
  display: none;
}
#gnb .dimmed.on{ z-index: 5; display: block; }


/* depth1 */
#gnb ul.depth1 {position: relative; z-index: 10;}
#gnb ul.depth1>li{
  font-weight: 500; line-height: 24px;
  color: var(--text1);
  position: relative;
}
#gnb ul.depth1>li:hover>a{ color: var(--primary); font-weight: 700;}
#gnb ul.depth1 ul li{ color: var(--text3);}
#gnb ul.depth1>li>a{ padding: 2.3rem 2rem; }
#gnb ul.depth1>li>.menuBtn{
  width: 32px; height: 32px;
  background: url(/assets/img/ico_menu.svg) no-repeat center / contain;
  padding: 2.3rem 0;
}
#gnb ul.depth1>li>.menuBtn:hover,
#gnb ul.depth1>li>.menuBtn.on{ background: url(/assets/img/ico_menuOn.svg) no-repeat center / contain;}


/* 드롭메뉴 */
#gnb .dropMenu{
  width: 100%; 
  overflow: hidden;
  padding: 0 12px;
  display: flex; align-items: flex-start; 
  background-color: #ffffff;
  position: fixed; top: 7rem; left: 0;
  z-index: 1000;

  background-color: #ffffff;
  display: none;
}
#gnb .dropMenu.on{ height: 20.3rem;  z-index: 1000; display: flex;}

/* depth2 */
#gnb .dropMenu ul.depth2{ 
  width: calc((100% - 2.5rem) / 7); 
  display: flex; align-items: flex-start;
}
#gnb .dropMenu ul.depth2 + ul.depth2::before {
  display: inline-block; content: '';
  width: 1px; height: 17.1rem;
  background-color: var(--gray100);
  margin: 0 1.2rem;
}
#gnb .dropMenu ul.depth2>li {
  width: calc((100% - 2.5rem)); 
  height: 4rem;
  font-weight: 600; line-height: 2.4rem;
  color: var(--text3);
}
#gnb .dropMenu ul.depth2>li>a{
  display: block; width: 100%;
  padding: 8px 12px;
}

/* depth3 */
#gnb .dropMenu ul.depth3{ width: 100%;}
#gnb .dropMenu ul.depth3>li{ 
  height: 3.2rem; 
  display: flex; align-items: center;
  font-size: 14px; color: var(--text5); 
}
#gnb .dropMenu ul.depth3>li>a{
  line-height: 2.1rem; 
  display: block; width: 100%;
  padding: 0 12px;
}
#gnb .dropMenu ul.depth3>li:hover{
  background-color: var(--l_Blue);
  color: var(--primary); font-weight: 500;
}



/******** util ********/
#util {
  height: 3.2rem;
  font-size: 14px; font-weight: 600; 
  color: var(--text4);
  position: relative;
}
#util  > *:not(:last-child){margin-right: 8px;}
#util .newWindow {
  display: inline-flex;
  padding: 5.5px 8px 5.5px 34px;
  border-radius: 6px; background-color: var(--primary);
  color: #ffffff;
  position: relative;
}

#util .newWindow>span{
  line-height: 2.1rem;
  font-size: 14px; font-weight: 600; 
}
#util .newWindow::before{
  display: inline-block; content: '';
  width: 2rem; height: 2rem;
  background: url(/assets/img/ico_newOpen.svg) no-repeat center / contain;
  position: absolute; left: 8px; top: 6px;
}

/*** 250801 수정 ***/
#util .extention{
  width: 10.3rem;
  padding: 2.5px 0;
  display: flex; align-items: center; justify-content: center;
  border: 1px solid var(--gray200); border-radius: 6px;
}
#util .extention span {
  width: 43px;
  line-height: 2.1rem; color: var(--text4);
}
#util .extention .exBtn{
  height: 26px;
  padding: 2.5px 8px; margin-left: 4px;
  line-height: 2.1rem; 
  background-color: var(--text4); color: #ffffff;
  border-radius: 4px;
}
#util .user { height: 3.2rem;}
#util .user .my { height: 100%; display: inline-flex; align-items: center; }
#util .user .my::before{
  display: inline-block; content:'';
  width: 2rem; height: 2rem;
  background: url(/assets/img/ico_profile.svg) no-repeat center / contain;
  margin-right: 6px;
}
/*** 250804 호버 추가 ***/
#util .user:hover .my{ color: var(--primary);}
#util .user:hover .my::before{ background: url(/assets/img/ico_profileOn.svg) no-repeat center / contain;}

#util .logOut {display: flex; align-items: center;}
#util .logOut::before{
  display: inline-block; content: '';
  width: 1px; height: 16px;
  background-color: var(--gray200);
  margin: 0 8px;
}
#util .logOut>button {height: 100%; display: flex; align-items: center;}
#util .logOut>button::before{
  display: inline-block; content: '';
  width: 2rem; height: 2rem;
  background: url(/assets/img/ico_logout.svg) no-repeat center / contain;
  margin-right: 6px;
}

/*** 250801 툴팁 추가 ***/
.toolTip{
  max-width: 30rem; overflow: hidden;
  border-radius: 6px;
  background-color: rgba(24, 28, 32, 0.9);
  border: 1px solid #485361; color: #ffffff;
  position: absolute; top: 37px; left: -28px;
  display: none;
}
.toolTip p{
  padding: 4px 12px; 
  font-size: 13px; font-weight: 500; line-height: 2.1rem;
  word-wrap: break-word; white-space: normal;
}
#util .user:hover .toolTip{ display: flex; }
#util .user.noHover{pointer-events: none;}


/******** 전체메뉴 ********/
#allMenu{
  width: 100%; height: 100%;
  position: absolute; top: 7rem; left: 0;
  z-index: 1001;
  display: none; 
}
#allMenu.on{display: block;}

#allMenu .dimmed{
  width: 100%; min-height: 100vh;
  background-color: var(--dimmed);
  position: fixed; top: 7rem; left: 0;
  z-index: -1;
  pointer-events: none; display: none;
}
#allMenu .dimmed.on {z-index: 5; display: block;}

#allMenu .m_wrap{  
  width: 100%; 
  padding: 1.6rem;
  background-color: #ffffff;
  position: relative;
  z-index: 1000;
}
#allMenu ul.depth1{
  width: 100%; 
  height: 85rem;
  align-items: stretch;
}
#allMenu ul.depth1>li{ width: calc((100% - 12.5rem) / 7); height: 100%; position: relative; }
#allMenu ul.depth1>li>a{ 
  display: block; padding: 8px 12px;
  line-height: 2.4rem; font-weight: 600;
  background-color: var(--menuTitle); color: #ffffff;
  border-radius: 8px;
}
#allMenu ul.depth1>li::after{
  display: inline-block; content: '';
  width: 1px; 
  height: 100%;
  background-color: var(--gray100);
  position: absolute; top: 3px; left: -11px;
}
#allMenu ul.depth1>li:first-child::after{display: none;}

/* depth2 */
#allMenu ul.depth2 {height: 100%;}
#allMenu ul.depth2>li{
  width: 100%; min-height: 4rem;
  align-content: center;
  border-bottom: 1px solid var(--gray100);
}
#allMenu ul.depth2>li:last-child{border: none;}
#allMenu ul.depth2>li>a{
  display: block; 
  min-height: 4rem; align-content: center;
  line-height: 2.4rem; font-size: 16px; font-weight: 600;
  color: var(--text4);
  padding: 1.2rem;
}
#allMenu ul.depth2>li:hover>a {color: var(--primary);}

/* depth3 */
#allMenu ul.depth3>li{
  width: 100%; min-height: 3.2rem;
  align-content: center;
}
#allMenu ul.depth3>li>a{
  padding: 5.5px 12px;
  font-size: 14px; line-height: 2.1rem;
  color: var(--text5);
}
#allMenu ul.depth3>li:hover>a{
  font-weight: 500; 
  background-color: var(--menuHover); color: var(--primary);
}



/* ------------------------------------------------------------------------- */
/* /******** 통합검색 영역 ********/
/* ------------------------------------------------------------------------- */
#searchAll{
  width: 100%; height: 15rem;
  display: flex; align-items: center; justify-content: center;
  background-color: var(--primary);
  background-image: url(/assets/img/emblem.svg);
  background-repeat: no-repeat;
  background-position: top 100% left 21%; 
  position: relative; top: 7rem; left: 0; 
  z-index: 200;
}

/* 관서검색 */
#searchAll>.s_wrap{
  width: 100%; max-width: 134rem; 
  height: 100%; 
  display: flex; align-items: center; justify-content: center;
  padding: 0 16px;
}
#searchAll>.s_wrap .group{ 
  width: 100%;
  height: 100%;
  padding: 2.4rem 0;
  display: flex; flex-direction: column; align-items: center;
  position: relative; 
}
#searchAll>.s_wrap .group .srchField{ width: 77rem; margin-bottom: 14px; position: relative;}
#searchAll .s_wrap .group .srchBtn{
  width: 50px; height: 50px;
  position: absolute; top: 2px; right: 1.4rem;
}
#searchAll .s_wrap .group .srchBtn::after{
  display: inline-block; content: '';
  width: 24px; height: 24px;
  background: url(/assets/img/ico_search.svg) no-repeat center / contain;
}

#searchAll .st_wrap{
  width: 100%; height: 100%;
  display: flex; align-items: flex-start; justify-content: center;
}

#searchAll .st_wrap .st_title{ 
  display: flex; align-items: center;
  position: relative; top: 6px;
  margin-right: 16px;
 }
#searchAll .st_wrap .st_title::before{
  display: inline-block; content: '';
  width: 28px; height: 28px;
  background: url(/assets/img/ico_policeOffice.svg) no-repeat top -1px center / contain;
  margin-right: 6px;
}
#searchAll .st_wrap .st_title p{
  font-size: 16px; font-weight: 700; line-height: 2.4rem;
  color: #ffffff;
}


#searchAll .st_wrap .st_group{ display: flex; align-items: flex-start; justify-content: center;}
#searchAll .st_wrap .st_group .st_box{ 
  width: 12rem;
  display: flex; flex-direction: column; flex-shrink: 0; 
  position: relative; z-index: 1;
  box-sizing: border-box;
}
#searchAll .st_wrap .st_group > *{margin-right: 6px;}

.stBtn_wrap .st.Btn{ 
  width: 4.8rem; height: 3.6rem;
  background: url(/assets/img/ico_search_W.svg) no-repeat center / 24px 24px; 
  background-color: var(--secondary);
  border-radius: 10rem; border-color: var(--secondary);
}


/* 나의 할일 */
#todolist{
  width: 36.8rem; height: 8.6rem;
  border: 2px solid var(--l_Blueborder);
  border-radius: 1.2rem;
  position: absolute;
  right: 16px;
}
.todo_tit{
  font-size: 18px; font-weight: 700; line-height: 2.55rem;
  color: #ffffff;
  text-align: center;
  position: absolute; top: -12px; left: 50%;
  transform: translateX(-50%);
}
.todo_tit>span{
  display: inline-flex; align-items: center;
  padding: 0 16px 0 48px;
  background-color: var(--primary);
}
.todo_tit>span::before{
  display: inline-block; content: '';
  width: 24px; height: 24px;
  background: url(/assets/img/ico_toDo.svg) no-repeat center / contain;
  position: absolute; left: 16px; top: 0px;
}
#todolist .inner{ width: 100%; height: 100%; }
#todolist .inner .todos{
  width: calc(100% / 3); padding-top: 8px;
  position: relative;
  display: flex; flex-direction: column; align-items: center;
  color: #ffffff;
}
#todolist>.inner .todos::after{
  display: inline-flex; content: '';
  width: 1px; height: 4rem;
  background-color: var(--l_Blueborder);
  position: absolute; top: 12px; right: 0;
}
#todolist>.inner .todos:last-child::after{display: none;}
#todolist>.inner .todos>span{
  font-size: 14px; font-weight: 500; line-height: 2.1rem;
  color: var(--l_Bluetxt);
}
#todolist>.inner .todos .sB{font-size: 2rem; font-weight: 700; line-height: 2.7rem; color: #ffffff; margin-top: 1.5px;}
#todolist>.inner .todos .mD{font-size: 1.6rem; font-weight: 500; line-height: 2.4rem; color: #ffffff;}


/* ------------------------------------------------------------------------- */
/* /******** main ********/
/* ------------------------------------------------------------------------- */
main{
  width: 100%; min-height: calc(100vh - 7rem); height: 100%;
  display: flex;
  position: relative; top: 7rem; left: 0;
}
main.type2 {
  width: 100%; 
  height: 100%;
  display: flex; justify-content: center;
  position: relative; top: 7rem; left: 0;
  background-color: var(--bg);
}

/******** navigation ********/
#navigation { 
  min-width: 12.5rem; max-width: 25rem; width: 100%;
  min-height: 100vh;
  background-color: var(--menuTitle);  box-shadow: var(--boxshadow);
  transition: flex 0.3s ease;

  position: fixed; top: 0; left: 0;
  padding-top: 7rem;
  z-index: 90;
}
#navigation.up{ padding-top: 0.4rem; }
/* hide */
#navigation.hide { width: 12.5rem; }
#navigation.hide ul.depth1>li>a{justify-content: center; padding-left: 0;}

#navigation.hide ul.depth1>li>a>span{display: none;}
#navigation ul.depth1>li>a{
  width: 100%; height: 4.8rem;
  display: flex; align-items: center;
  padding-left: 12px;
  background-color: var(--menuTitle); 
  border-bottom: 1px solid var(--primary);
  font-weight: 600; line-height: 2.4rem; color: var(--l_Bluetxt);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
#navigation ul.depth1>li.on>a{ background-color: var(--secondary); color: #ffffff; }
#navigation ul.depth1>li>a>span{
  display: block; display: flex;
  padding: 12px 16px 12px 6px;
}

/* li 아이콘 */
#navigation ul.depth1>li>a::before{
  display: inline-block; content: '';
  width: 2.2rem; height: 2.2rem;
  background: url(/assets/img/ico_navMenu_01.svg) no-repeat ;
}
#navigation ul.depth1>li.d1_02>a::before{background-image: url(/assets/img/ico_navMenu_02.svg);}
#navigation ul.depth1>li.d1_03>a::before{background-image: url(/assets/img/ico_navMenu_03.svg);}

/* on */
#navigation ul.depth1>li.on.d1_01>a::before{background-image: url(/assets/img/ico_navMenuOn_01.svg);}
#navigation ul.depth1>li.on.d1_02>a::before{background-image: url(/assets/img/ico_navMenuOn_02.svg);}
#navigation ul.depth1>li.on.d1_03>a::before{background-image: url(/assets/img/ico_navMenuOn_03.svg);}

#navigation ul.depth1>li>a>span::after{
  display: inline-block; content: '';
  width: 2.2rem; height: 2.2rem;
  background: url(/assets/img/ico_arrowDown.svg) no-repeat ;
  position: absolute; right: 1.6rem;
}
#navigation ul.depth1>li.on>a>span::after{ background: url(/assets/img/ico_arrowUp.svg) no-repeat ;}

/* nav_box */
.nav_box{
  width: 100%; height: 0;
  background-color: var(--bg);
  overflow: hidden;
  display: none;
}
.nav_box .scrollY{
  width: 100%; height: 100%;
  padding: 12px 16px;
  background-color: #ffffff;
}
.nav_box.on{ height: calc(100vh - 36.4rem); display: flex; }

/* 폴딩버튼 */
.btnbox{
  width: 2.8rem; height: 4.4rem;
  background-color: #ffffff; 
  border: 1px solid var(--gray200); border-radius: 0 4px 4px 0;
  box-shadow: var(--boxshadow);
  position: absolute; top: 7.4rem; right: -2.8rem;
  transition: left 0.3s ease;
}
.btnbox.up{top: 0.4rem;}
.btnbox .folding_btn{
  width: 100%; height: 100%;
  background: url(/assets/img/ico_navBtn.svg) no-repeat center / 6px 10px;
  transition: transform 0.3s ease;
}
.btnbox .folding_btn.fold{ transform: rotate(180deg); }



/******** section : 콘텐츠 영역 ********/
/* sec_wrap2 타입 */
.sec_wrap2{
  width: calc(100% - 25rem);
  /* min-height: calc(100vh - 7rem); */
  height: 100%; 
  overflow: hidden;
  padding: 4rem;
  background-color: #ffffff;
  position: relative; top: 0; left: 25rem;
  transition:  0.3s linear;
}
.sec_wrap2.full{ width: calc(100% - 12.5rem); left: 12.5rem; }

.sec_wrap2 .sec + .sec {margin-top: 4rem;}

.sec_wrap2 .sec_head {
  width: 100%; 
  margin: auto; margin-bottom: 1.6rem; 
  text-align: center; position: relative;
}
.sec_wrap2 .sec_head h3 {
  margin-top: 1.6rem; margin-bottom: 2rem;
  justify-content: center;
  font-size: 3.2rem; font-weight: 600; line-height: 3.6rem;
  color: var(--text1);
}
.sec_wrap2 .sec_head p {
  font-size: 2rem; line-height: 2.7rem;
  color: var(--text4);
}
.sec_wrap2 .sec_head span.blueT {font-weight: 600; color: var(--menuTitle);}

.sec_wrap2 .s_tit { margin-bottom: 1.5rem;}
.sec_wrap2 .s_tit h4{
  font-size: 1.8rem; font-weight: 600; line-height: 2.55rem;
  color: var(--text1);
}

.rowbox > *:not(:last-child){margin-right: 8px;}
.sec_wrap2 .sec_head .rowbox{ position: absolute; right: 0; display: flex; align-items: center;}
.sec_wrap2 .sec_head .rowbox>a{display: flex; }
.sec_wrap2 .sec_head .rowbox .btn.blue::before{
  display: inline-block; content: '';
  width: 22px; height: 22px; 
  background: url(/assets/img/ico_detail.svg) no-repeat center / contain;
}
.sec_wrap2 .sec_head .rowbox .btn.blue.print::before{ background: url(/assets/img/ico_print.svg) no-repeat center / contain;}
.sec_wrap2.bgtype{ padding: 0; }



/******** footer ********/
footer {
  width: 100%; 
  background-color: #ffffff; border-top: 1px solid var(--gray100);
  position: relative; top: 7rem; left: 0; z-index: 100;
}
footer .f_logo img{flex-shrink: 0;}
footer .f_inner{
  width: 100%; max-width: 159rem; 
  height: 100%;
  margin: auto; padding: 2rem 12.5rem;
  display: flex; align-items: center; justify-content: space-between;
}
.f_txt .btn.basic{
  display: inline-block; 
  height: 3.2rem; line-height: 2.1rem;
  padding: 5.5px 12px; margin-bottom: 12px;
}
.f_txt address {margin-bottom: 2px;}
.f_txt address, .f_txt span { font-size: 13px; line-height: 1.95rem; color: var(--text8); }




/* ------------------------------------------------------------------------- */
/* button
/* ------------------------------------------------------------------------- */
.btn{
  padding: 8px 12px; 
  font-size: 16px; font-weight: 600;  line-height: 2.4rem;
  color: var(--text4); background-color: #ffffff;
  border: 1px solid var(--gray300); border-radius: 4px;
}
.btn.blue{
  height: 3.6rem; padding: 0 12px 0 10px;
  display: flex; align-items: center;
  background-color: var(--menuTitle); color: #ffffff;
  border-color: var(--menuTitle);
}
.btn.blue::before{margin-right: 8px;}
.btn.blue.sm{
  height: 2.6rem;
  font-size: 14px; line-height: 2.1rem;
  padding: 2.5px 8px; 
}
.btn.blue:hover{background-color: #1E69C4;}


.btn.Dgray{
  width: 8rem; 
  padding: 3px 12px;
  border-color: #2B2B2B;
  background-color: #2B2B2B; color: #ffffff;
}
.btn.Dgray:hover{background-color: var(--text1);}


.btn.back {
  width: 11rem; height: 3.6rem;
  padding: 0 12px 0 36px ; margin-top: 4rem;
  background-color: var(--secondary); border-color: var(--secondary); color: #ffffff;
  background-image: url(/assets/img/ico_arrowBack.svg);
  background-repeat: no-repeat; 
  background-size: 22px 22px;
  background-position: top 5px left 8px;
  display: flex; align-items: center;
}
.btn.back span{line-height: 2.4rem;}
.btn.back.edit{ background-image: url(/assets/img/ico_edit_02.svg);}

/*** 250804 : min-width 추가 ***/
.btn.blueBtn{
  min-width: 8rem; height: 3.2rem; 
  padding: 0 12px;
  font-size: 16px; line-height: 3.2rem; 
  background-color: var(--primary2); color: #ffffff; border-color: var(--primary2);
  cursor: pointer;
}

/*** 250730 :  검색 버튼 추가 ***/
.btn.blueBtn.srch {
  height: 4rem; 
  padding: 0 4.6rem; margin: 4rem;
  margin-bottom: 0;
  font-weight: 600;
}
.btn.blueBtn:hover{background-color: var(--secondary);}

.btngroup{ margin: 4rem; margin-bottom: 0; }
.btngroup > .blueBtn.srch{margin: 0; margin-left: 8px;}
.btn.blueBtn.reset{ height: 4rem; padding: 0 0.9rem 0 1.1rem; display: flex; align-items: center; }
.btn.blueBtn.reset::after{
  display: inline-block; content: '';
  width: 22px; height: 22px; margin-left: 6px;
  background: url(/assets/img/ico_reset.svg) no-repeat center / contain; 
}

/*** 250808  추가 ***/
.btn.view{
  display: block; 
  width: 7.6rem; height: 2.6rem; 
  padding: 0; margin: 0 auto;
  font-size: 14px;
  background-color: var(--addfile); border-color: var(--addfile); color: #ffffff;
}
.btn.view:hover{background-color: var(--addfileHover);}



/* ------------------------------------------------------------------------- */
/* form
/* ------------------------------------------------------------------------- */
input, select, textarea, button {
  font:400 16px/1 'Pretendard', 'Noto Sans KR', 'Malgun Gothic' ,'돋움', dotum, AppleGothic, sans-serif;  
  color: var(--text4);
}


/******** input ********/
.it{
  width: 100%; height: 5.2rem;
  padding: 0 2.4rem;
  border-radius: 10rem;
  background-color: #fff;
  font-size: 14px; font-weight: 500; color: var(--text4);
}
.it::placeholder{ color: var(--gray400); }


/*** 250730 : table > select 추가 ***/
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator,
input[type="week"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator{
  opacity: 0; cursor: pointer;
  position: absolute; right: 5px;
}

.it.date, .it.edit{
  min-width: 85px; width: 100%;
  height: 2.6rem; border-radius: 4px; border: 1px solid var(--gray200);
  padding-right: 32px; padding: 0 28px 0 5px;
  position: relative;
  background: #fff url(../img/ico_canlendar.svg) no-repeat right 5px top 4px;
  cursor: pointer;
}
.it.edit { background: #fff url(../img/ico_edit.svg) no-repeat right 5px top 4px; }

/*** 250803 select 추가, 수정 ***/
/* select */
.st{
  width: 100%; height: 3.6rem; 
  padding: 0 34px 0 12px;
  line-height: 2.1rem; font-size: 14px; font-weight: 500; 
  color: var(--text1); background-color: #ffffff; 
  border: 1px solid var(--gray100); border-radius: 6px; 
  background: #fff url(/assets/img/ico_selectArrow.svg) no-repeat right 8px center / 24px 24px ;
}
.tbl2 table td > .st{ height: 2.6rem; padding: 0 34px 0 4px;}
.st.mini{ 
  min-width: 7rem; height: 2.8rem;
  padding: 0 31px 0 12px;
  border: 1px solid var(--gray100); border-radius: 6px;
}

.nice-select.st.type2{
  width: 100%; 
  /* 정확한 넓이가 필요 하실 시 */
  /* min-width: 14rem; */
  height: 3.6rem;
  padding: 0 34px 0 12px;
  background-color: var(--secondary); color: #ffffff;
  border-color: var(--secondary) !important;
  border-radius: 5rem;
  font-size: 14px; font-weight: 600; line-height: 2.1rem;
  position: relative;
  background-image: none;
}
.nice-select.st.type2.open{
  background-color: #ffffff;
  border-color: var(--secondary) !important; color: var(--secondary);
  border-radius: 6px 6px 0 0;
  position: relative;
}
.nice-select.st.type2:after{ border-color: #ffffff; }
.nice-select.st.type2.open::after{border-color: var(--secondary);}
.nice-select.st.type2 .current{
  height: 3.6rem;
  display: flex; align-items: center;
  font-size: 14px; font-weight: 600; 
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.nice-select.st.type2 .list{
  width: calc(100% + 2px); max-height: 300px;
  overflow-y: auto;
  border: 1px solid var(--secondary);
  border-top: 0;
  border-radius: 0 0 6px 6px;
  position: absolute; top: 31px; left: -1px;
}
.nice-select.st.type2 .option{ 
  padding: 10px 12px;
  line-height: 2.1rem;
  color: var(--text1); 
  white-space: normal;
  word-break: break-all;
}
.nice-select:hover, .nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: var(--secondary) !important; }



/*** 250731 : datepicker 추가 ***/ 
/* datepicker */
.ui-datepicker {display: none; padding: 18px 20px; border: 1px solid var(--secondary); border-radius: 12px; background-color: #ffffff; z-index: 1200 !important; cursor: pointer;}
.ui-datepicker .ui-datepicker-header {margin-bottom: 12px; position: relative;}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {width: 17px; height: 17px; text-indent: -9999px; background: url(../img/ico_selectArrow.svg) no-repeat center / contain; position: absolute; top: 1px; cursor: pointer; transform: rotate(90deg);}
.ui-datepicker .ui-datepicker-prev {left: 5px;}
.ui-datepicker .ui-datepicker-next {background-image: url(../img/ico_selectArrow.svg); right: 5px; transform: rotate(-90deg);}
.ui-datepicker .ui-datepicker-next .ui-icon{display: none;}
.ui-datepicker .ui-datepicker-title {font-weight: 600; font-size: 16px; line-height: 20px; text-align: center; color: var(--text1);}
.ui-datepicker .ui-datepicker-month::after {content: "월";} 
.ui-datepicker table {width: 100%; font-size: 14px; line-height: 16px; text-align: center; color: var(--text1);}
.ui-datepicker th, .ui-datepicker td {width: 32px; height: 32px; padding: 0; border: 0;}
.ui-datepicker th {padding: 6px; font-weight: 500; text-align: center; color: var(--text9);}
.ui-datepicker td span,.ui-datepicker td a {display: block; height: 32px; padding: 6px; line-height: 20px; text-align: center; text-decoration: none}
.ui-datepicker td.ui-datepicker-today a {font-weight: 700; color: var(--primary);}
.ui-datepicker td.ui-datepicker-current-day a {border: 1px solid #E3EDFF; border-radius: 50%; font-weight: 600; line-height: 18px; color: var(--secondary); background-color: #E3EDFF;}

/*** 250801 textarea 추가 ***/ 
textarea{ width: 100%; }




/***** checkbox / radio *****/
.check_btn {
  display: inline-flex; align-items: center;
  width: fit-content;
}
.check_btn input {
  appearance: none; -webkit-appearance: none;
  width: 20px; height: 20px;
  background-repeat: no-repeat; background-position: center top; background-size: contain;
  cursor: pointer;
}

/*** 250730 : input > check 추가 ***/
.check_btn input[type="checkbox"] {background-image: url(/assets/img/ico_check.svg);}
.check_btn input[type="checkbox"]:checked {background-image: url(/assets/img/ico_checked.svg);}
.check_btn input[type="checkbox"]:checked:disabled {background-image: url(/assets/img/ico_checked_dis.svg);}
.check_btn input[type="radio"] {background-image: url(/assets/img/ico_radio.svg);}
.check_btn input[type="radio"]:checked {background-image: url(/assets/img/ico_radio_checked.svg);}
.check_btn > span {
  padding-left: 6px;
  font-weight: 500; font-size: 15px; line-height: 20px; color: var(--text3);
  cursor: pointer;
}
.opts input[type="radio"].none {appearance: none; -webkit-appearance: none;}



/* ------------------------------------------------------------------------- */
/* TAB
/* ------------------------------------------------------------------------- */
[class*=tabMenu_], [class*=tabMenuG_] {
  width: 100%; height: 4.4rem; margin-bottom: 1.2rem;
  display: flex; align-items: center; justify-content: space-around;
}
[class*=tabMenu_] button, [class*=tabMenuG_] button {
  width: 100%; height: 100%;
  background-color: var(--disablebg); color: var(--disableText);
  border-bottom: 1px solid var(--gray200); 
  display: flex; align-items: center; justify-content: center;
}
[class*=tabMenu_] button.on,
[class*=tabMenuG_] button.on{
  background-color: #ffffff; color: var(--text1);
  border: 1px solid var(--gray200); border-bottom: 0;
}
[class*=tabCont_] {display: none;}
[class*=tabCont_].on {display: flex;}

/* 250813 추가 */
.tabMenu_addfile{width: auto;}





/* ------------------------------------------------------------------------- */
/* TABLE
/* ------------------------------------------------------------------------- */
.tbl2{
  width: 100%;
  border-top: 1px solid var(--tableTop);
  position: relative;
  white-space: nowrap;
}
.tbl2 table { width: 100%;  overflow: visible; border-collapse: collapse;  table-layout: fixed; }
.tbl2 table.h32 td{height: 3.2rem;}

.tbl2 table th,
.tbl2 table td {
  min-width: 45px; 
  height: 3.6rem;
  padding: 0 4px;
  border: 1px solid var(--tablebd); border-left: none;
  font-weight: 500; font-size: 14px; text-align: center; color: var(--text4);
  background-color: #ffffff;
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.tbl2 table th {
  font-weight: 600;  color: var(--text1);
  background-color: #ffffff;
  border: 1px solid var(--tablebd);  border-top: 0; 
  position: relative;
}
/*** 250813 border-top ***/
.tbl2 table th + th,
.tbl2 table th + td,
.tbl2 table td + td,
.tbl2 table td + th {border-left: 1px solid var(--tablebd); border-top: 0;}
.tbl2 thead tr th { height: 4rem; background-color: var(--bg); border-left: 0;}
.tbl2 thead tr th:first-child { border-left: 1px solid var(--tablebd);}

.tbl2 tbody tr:hover td {background-color: var(--tablebg);}
.tbl2.noHover tbody tr:hover td {background-color: #ffffff;}

.tbl2 table td { border-right: 1px solid var(--tablebd);  border-bottom: 1px solid var(--tablebd); transition: background-color 0.2s ease;}
.tbl2 table td:first-child { border-left: 1px solid var(--tablebd); border-top: 0;}

.tbl2 table td.tal,
.tbl2 table tr.tal td {padding-left: 12px; text-align: left;}
.tbl2 table td.tar { padding-right: 12px; text-align: right;}

.tbl2 .col > * + *{margin-top: 8px;}
.tbl2 .row > * + *, .row > * + * { margin-left: 8px;}
.flexi + *{margin: 8px 0;}
.flexi > *:not(:last-child){margin-right: 8px;}

/*** 250730 : 테이블 스크롤 부분 추가 수정 ***/
.scroll_wrap,
.tbl2 .scroll_wrap{ width: 100%; overflow-x: auto; padding-bottom: 3px; }
.scroll_wrap > *,
.tbl2 .scroll_wrap table { min-width: 158rem; }




/*** 250730 : table >  td(checkbox) 추가 ***/
.tbl2 tr.h41 td { min-height: 4.1rem; max-height: 15rem;}
.tbl2 tr.bdnone td{border-left: 0; border-right: 0; border-bottom: 0;}
.tbl2 tr.bdnone:last-child td{border-bottom: 1px solid var(--tablebd);}
.tbl2 tr.bdnone td:last-child{border-right: 1px solid var(--tablebd);}

.tbl2 table td a {
    max-height: 40px;
    text-decoration: underline; text-underline-offset: 2px;
    overflow: hidden; text-overflow: ellipsis; white-space: normal;
    display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
}
.tbl2 table td > * + * {-webkit-line-clamp: 1;} 


/* ------------------------------------------------------------------------- */
/* Pagination
/* ------------------------------------------------------------------------- */
.pagination {
  width: 100%;
  display: flex; align-items: center; justify-content: center; 
  padding-top: 2rem;
}
.pagination .g4 {margin: 0 12px;}
.pagination button {
  min-width: 28px; min-height: 28px;
  padding: 0 6px;
  border-radius: 5px;
  font-weight: 500; font-size: 14px; line-height: 22px; text-align: center; 
  color: var(--text9); background-color: var(--pagebg); border: 1px solid var(--gray100);
  transition: background-color 0.2s ease, color 0.2s ease;
}

/*** 250804 버튼 수정 ***/
.pagination button.on{ color: #ffffff; background-color: var(--primary);}
.pagination button.first:disabled {background-image: url(/assets/img/ico_page_first.svg); background-position: center top -1px;}
.pagination button.prev:disabled {background-image: url(/assets/img/ico_page_prev.svg); background-position: center top -1px;}
.pagination button.next:disabled {background-image: url(/assets/img/ico_page_next.svg); background-position: center top -1px;}
.pagination button.last:disabled {background-image: url(/assets/img/ico_page_last.svg); background-position: center top -1px;}

.pagination button.first {background: url(/assets/img/ico_page_firstOn.svg); background-position: center top -1px; background-color: #ffffff; margin-right: 4px;}
.pagination button.prev{background: url(/assets/img/ico_page_prevOn.svg); background-position: center top -1px; background-color: #ffffff;}
.pagination button.next{background: url(/assets/img/ico_page_nextOn.svg); background-position: center top -1px; background-color: #ffffff;}
.pagination button.last{background: url(/assets/img/ico_page_lastOn.svg); background-position: center top -1px; background-color: #ffffff; margin-left: 4px;}

.pagination button.first:disabled,
.pagination button.prev:disabled,
.pagination button.next:disabled,
.pagination button.last:disabled { background-color: var(--pagebg); border: 1px solid var(--gray100); }



/* ------------------------------------------------------------------------- */
/* MediaQuery
/* ------------------------------------------------------------------------- */
@media screen and (max-width : 1600px){
  #gnb ul.depth1>li>a { padding: 2.3rem 1rem; }
  #gnb ul.depth1>li:last-child { display: none; }


}

@media screen and (max-width : 1500px){
  #gnb ul.depth1>li:nth-child(5) { display: none; }
}


@media screen and (max-width : 1400px){
  #gnb ul.depth1>li:nth-child(4) { display: none; }

}


@media screen and (max-width : 1280px){
  .h_inner { padding: 0 2rem;}
}



@media screen and (max-width : 960px){
  /* gnb */
  header .h_inner{ justify-content: flex-start; }
  #gnb ul.depth1>li:not(:first-child) { display: none; }
  #gnb ul.depth1>li.noHover{ order: 1; margin-right: 3rem; }
  #logo { order: 2; }
  #util { order: 3; margin-left: auto; }

  /* 통합검색 */
  #searchAll .s_wrap .group {width: 60%;}
  #todolist{width: 33%;}


}