@charset "UTF-8";

/* ------------------------------------------------------------------------- */
/* 관서현황보고서(요약)
/* ------------------------------------------------------------------------- *
/* 관서현황 */
.sec_wrap2.type2 .sec + .sec{margin-top: 3.2rem;}
.tbl2.w50{width: 50%; }
.tbl2.w25{width: calc(25% - 8px);}

.tbl2 table th {height: 3.9rem;}
.tbl2 table td {height: 3.2rem; padding: 5px 4px;}

.tbl2.h36 table tr td, 
.tbl2 table tr.h36 td {height: 3.6rem; padding: 5px 4px;}

.tbl2 table tr.h36 td.tar {padding-right: 12px;}
.tbl2 table tr.tit_bg td{
  height: 3.9rem;
  background-color: var(--bg); color: var(--text1); font-weight: 600;
}
.tbl2 table td.bg{ background-color: var(--bg); color: var(--text1); font-weight: 600;}
.tbl2 table th.nobg{ background-color: #ffffff;}

.tbl2 thead tr th.tbl_tit.h74:first-child{
  height: 7.4rem;
  border: 0; background-color: #ffffff; 
} 
.tbl2 table td.bdnone:first-child{ border: 0; }
.tbl2 table td.blnone:first-child{ border-left: 0; }
.tbl2 table th.blnone:first-child{ border-left: 0; }

.tbl2.noHover tr:hover td.bg {background-color: var(--bg);}
.tbl2 tr td.bold{ font-weight: 600; color: var(--text1); }
.tbl2.img table td div img{width: 100%; height: 100%; margin: auto;}
.tbl2 tfoot tr.hlight td { background-color: var(--tfootbg); }
.tbl2 thead tr.btntbl{position: relative;}


/********** 현황보고서 (상세) **********/
.sub_info{ margin-bottom: 8px; }
.sub_info .sub_tit{
  display: flex; align-items: center;
  font-size: 16px; font-weight: 600; line-height: 2.4rem;
  color: var(--primary);
}
.sub_info .sub_tit::before{
  display: inline-block; content: '';
  width: 12px; height: 12px;
  background: url(../img/ico_disc.svg) no-repeat center / contain;
  margin-right: 8px;
}
.sub_info ul.info { 
  display: flex; align-items: center; flex-wrap: wrap; 
  padding: 0 12px; margin-right: 2rem;
  border-radius: 6px; 
  background-color: var(--tabDisable);
  /* gap: 6px; */
}
.sub_info ul.info li{
  display: flex; align-content: center;
  background-color: var(--tabDisable); color: var(--text1);
  height: 3.2rem; 
  border-radius: 6px;
  /* white-space: nowrap; */
  overflow: hidden; text-overflow: ellipsis;
  display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;
  /* padding: 0 12px; */
}
/* .sub_info ul.info li:first-child{ padding-left: 12px; }
.sub_info ul.info li:last-child{ padding-right: 12px; } */
/* .sub_info ul.info li:first-child{ border-radius: 6px 0 0 6px;}
.sub_info ul.info li:last-child{ border-radius: 0 6px 6px 0; } */

.sub_info ul.info li + li::before{
  display: inline-block; content: '';
  width: 1px; height: 14px;
  background-color: var(--gray200); 
  margin: 0 10px;
  /* margin-right: 12px; */
}

/* btn */
.btn.blueBtn{
  height: 3.2rem; padding: 0 12px;
  font-size: 16px; align-content: center;
  background-color: var(--primary2); color: #ffffff; border-color: var(--primary2);
}
.updown { 
  width: 20px; height: 20px; 
  display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 5px;
  position: absolute;
  right: 12px; top: 50%; transform: translateY(-50%);
}
.updown button{
  width: 20px; height: 5px;
  background: url(../img/ico_tbl_up.svg) no-repeat center / contain;
}
.updown button.downbtn{background: url(../img/ico_tbl_down.svg) no-repeat center / contain;}




/* ------------------------------------------------------------------------- */
/* MediaQuery
/* ------------------------------------------------------------------------- */
@media screen and (max-width : 1280px){
  .sub_info ul.info li.benone::before {display: none;}
}



@media screen and (max-width : 960px){
  /* .sub_info ul.info li.benone2{ padding: 0 10px; } */
  .sub_info ul.info li.benone2::before {display: none;}
}