@charset "UTF-8";

/* ------------------------------------------------------------------------- */
/* 관서현황보고서(요약)
/* ------------------------------------------------------------------------- */
/* 관서현황 */
.mt0 {margin-top: 0;}
.ml0 {margin-left: 0;}
.sec_wrap2.type2 .sec + .sec{margin-top: 3.2rem;}

.w25 { width: calc(25% - 4px); }
.w30 { width: calc(30% - 4px); }
.w33 { width: calc(33% - 4px); }
.w38 { width: calc(38% - 4px); }
.w50 { width: calc(50% - 4px); }
.w67 { width: calc(67% - 4px); }
.w70 { width: calc(70% - 4px); }
.w75 { width: calc(75% - 4px); }

.tbl2 thead tr th { height: 3.9rem;}
.tbl2 .h36 { height: 3.6rem;}

.tbl2 table th ,
.tbl2 tbody tr.h36 th {background-color: var(--bg);}
.tbl2 table th.nobg{background-color: #ffffff;}

.tbl2 table tbody.pd0 td {padding: 0;}

.tbl2 table td.bdnone:first-child{ border: 0; }
.tbl2 table td.blnone:first-child,
.tbl2 table th.blnone:first-child{ border-left: 0; }

.tbl2.noHover tr:hover td.bg,
.tbl2.noHover tbody tr:hover td {background-color: #ffffff;}

.tbl2 tr td.bold{ font-weight: 600; color: var(--text1); }
.tbl2 tfoot tr.hlight th,
.tbl2 tfoot tr.hlight td { background-color: var(--tfootbg); }
.tbl2 thead tr.btntbl { position: relative; }
.tbl2 .tbl_tit.h74 {
  height: 7.4rem; 
  font-size: 2.4rem; line-height: 3.4rem;
  background-color: #ffffff; 
  border-left: 0; border-right: 0; border: 0;
}
.tbl2 tr.disabled th,
.tbl2 tr.disabled td,
.tbl2 tbody tr.h36.disabled th,
.tbl2.noHover tr.disabled:hover td {background-color: var(--tabDisable);}
 


/********** 현황보고서 (상세) **********/
.sub_info{ margin-bottom: 8px;}
.sub_info .sub_tit{
  /*** 250808 추가 ***/
  /* min-width: 8rem; */
  margin-right: 2rem;
  display: flex; align-items: center;
  font-size: 16px; font-weight: 600; line-height: 2.4rem;
  color: var(--primary);
}
.sub_info .sub_tit::before{
  display: inline-block; content: '';
  width: 12px; height: 12px;
  background: url(/assets/img/ico_disc.svg) no-repeat center / contain;
  margin-right: 8px;
}
.sub_info ul.info { 
  display: flex; align-items: center; flex-wrap: wrap; 
  padding: 0 12px; margin-right: 2rem;
  border-radius: 6px; 
  background-color: var(--tabDisable);
}
.sub_info ul.info li{
  height: 3.2rem; line-height: 3.2rem;
  display: flex; align-items: center;
  background-color: var(--tabDisable); color: var(--text1);
  border-radius: 6px; 
  overflow: hidden; text-overflow: ellipsis;
  display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;
  position: relative; 
  /* 250801 font 추가 */
  font-size: 1.4rem; font-weight: 500;
}
.sub_info ul.info li + li::before{
  display: inline-block; content: '';
  width: 1px; height: 14px;
  background-color: var(--gray200); 
  margin: 0 10px;
  position: relative; top: 3px;
}

/* type2 */
.sub_info .row.fwrap{ flex-wrap: wrap; margin-right: 2rem;}
.sub_info ul.info.type2{ margin-right: 0; margin-bottom: 8px;}



/**** 250730, 250731 추가 ****/
/* ------------------------------------------------------------------------- */
/* 국유재산 검색
/* ------------------------------------------------------------------------- */
.sec_wrap2.pd0{ padding: 0;}
.sec_wrap2.pd0>.inner{ padding: 4rem; background-color: #ffffff;}
.sec_wrap2.bg { 
  width: 100%;
  background-color: var(--bg); padding: 4rem;
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.12);
  transition: max-height 0.3s ease;
  left: 0;
}
.sec_wrap2.bg { visibility: hidden; max-height: 0; overflow: hidden; transition: max-height 0.3s ease; }
.sec_wrap2.bg.on{ visibility: visible; max-height: 1000px; }
table .it{ height: 3.6rem; padding: 0 12px; }
.tbl2 table td .it.date, .tbl2 table td .it.edit { 
  min-width: 77px;
  margin: 0 8px;
  font-size: 14px; font-weight: 600; color: var(--text4);
}
/*** 250808 추가 ***/
.tbl2 table td .it.date:first-child,
.tbl2 table td .it.edit:first-child,
.tbl2 table td .it.h26:first-child { margin-left: 0; }
.tbl2 table td .it.date:last-child,
.tbl2 table td .it.edit:last-child,
.tbl2 table td .it.h26:last-child { margin-right: 0; }

.alend{justify-content: space-between; }
.alend .col.w75 {width: calc(75% - 8px);}
.alend .col.w50 {width: calc(50% - 8px);}
.alend .col.w50.g4 {width: calc(50% - 4px);}
.alend .col.w25 {width: calc(25% - 8px);}
.col.w75 > *:not(:last-child){margin-bottom: 8px;}

/* 대장정보조회 */
.tbl2 table td .it.h26{ 
  height: 2.6rem; margin: 0 8px;
  border-radius: 4px; border: 1px solid var(--gray200); 
  text-align: center;
}


/* ------------------------------------------------------------------------- */
/* 국유재산 건물 상세정보
/* ------------------------------------------------------------------------- */
/*** 250802 수정 ***/
.col > *:not(:last-child){margin-bottom: 8px;}
.tbl2 figure.imgbox{
  width: 100%; height: 100%;
  padding: 10px;
  border: 1px solid var(--gray100); border-radius: 12px;
  padding-bottom: 56.25%; 
  position: relative;
}
.tbl2 .imgbox img{
  width: 100%; height: 100%;
  position: absolute;
  top: 0; left: 0;
  padding: 10px;
  object-fit: cover;
}
.tbl2 td.pt10{padding-top: 10px;}

.sec_wrap2 span.fm_tit{ font-size: 14px; line-height: 2.8rem;}
.mt8 {margin-top: 8px;}

.tbl2 .alend > *{margin-right: 16px;}







/**** 250801 추가 ****/
/* ------------------------------------------------------------------------- */
/* 상호점유 관리 - 검색 / 상세정보
/* ------------------------------------------------------------------------- */
.sec_wrap2 .s_tit.underLine{
  border-bottom: 1px solid var(--primary2);
  padding-bottom: 9px;
  cursor: pointer;
}
.sec_wrap2 .s_tit.underLine .moreBtn{
  display: inline-block; content: '';
  width: 30px; height: 30px;
  background: url(/assets/img/ico_arrowDown_02.svg) no-repeat top 5px center / 24px 24px;
}
.sec_wrap2 .s_tit.underLine .moreBtn.show{   background: url(/assets/img/ico_arrowUp_02.svg) no-repeat top 5px center / 24px 24px;}
/* .sec_item { display: none; }
.sec_item.on{ display: block; } */

.sec_item { visibility: hidden; max-height: 0; overflow: hidden; transition: max-height 0.3s ease; }
.sec_item.on{ visibility: visible; max-height: 1000px; }


/* ------------------------------------------------------------------------- */
/* 미등재 재산 - 검색 / 상세
/* ------------------------------------------------------------------------- */
.sec_wrap2 .s_tit h4 { height: 3.6rem; line-height: 3.6rem; }


/* ------------------------------------------------------------------------- */
/* 기금사업
/* ------------------------------------------------------------------------- */
.mt32 {margin-top: 3.2rem;}
.mlauto{margin-left: auto;}
.sec_item .group + .group{margin-top: 3.2rem;}

[class*=tabContG_] {max-height: 0; opacity: 0;}
[class*=tabContG_].on {max-height: 1000px; opacity: 1;}

/* 첨부파일 */
.addfile { height: 100%; display: flex; align-items: center; position: relative;}
.addfile_btn {position: absolute; right: 0;}
.addfile_btn input {
  width: calc(100% + 80px); height: 100%;
  background-color: var(--text4);
  position: absolute; right: 0; top: 0;
  cursor: pointer;
  opacity: 0;
}
.addfile_btn span {
  display: inline-block;
  padding: 0 8px;
  border-radius: 4px;
  font-weight: 500; font-size: 13px; line-height: 26px; 
  background-color: var(--addfile); color: #ffffff;
  transition: background-color 0.2s ease;
}
.addfile_btn:hover span{background-color: var(--addfileHover);}







/* ------------------------------------------------------------------------- */
/* MediaQuery
/* ------------------------------------------------------------------------- */
@media screen and (max-width : 1400px){
  /* .sub_info ul.info.type2{margin-left: 0;} */
}
@media screen and (max-width : 1280px){
  .sub_info ul.info li.benone::before {display: none;}
  .sub_info ul.info.type2.none1{ margin-left: 0;}
}



@media screen and (max-width : 960px){
  .sub_info ul.info li.benone2::before {display: none;}

  /* 대표이미지 부분 wrap*/
  .sec .full { width: 100% !important; }
  .drop { width: 100% !important; flex-direction: column; } 
  .drop.row > * + * {margin-left: 0;}
  .drop > .tbl2 {margin-left: 0; margin-right: 0; margin-bottom: 8px;}

  .mt {margin-top: 8px;}
  .mb {margin-bottom: 8px;}
  .mbx{margin-bottom: 0;}
  .col > .mbx,
  .col.w75 > * + .mbx, 
  .tbl2.mbx, .drop > .tbl2 + .mbx {margin-bottom: 0;}


  .tbl2.fulldrop table tr.h41 td { height: 14rem; }
  .tbl2.fulldrop table tr.h41 td >.row {display: flex; align-items: center; justify-content: center;}
  .tbl2.fulldrop table tr.h41 td >.row .check_btn { 
    flex-direction: column; 
    white-space: normal; word-break: break-word; 
    
  }
  .tbl2.fulldrop table tr.h41 td>.row .check_btn > span { 
    padding-left: 0; padding-top: 6px; word-break: break-word; text-align: center;
    overflow: hidden; text-overflow: ellipsis; white-space: normal;
    display: -webkit-box; line-clamp: 2; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
  }

  /* 기금사업 */
  .flexi.ver2{margin-left: auto;}
  .alend .col.w75 {width: 100%;}
  .alend .col.w25 {width: 100%; margin-top: 4rem;}

  .sub_info .sub_tit{min-width: 8rem;}
  .sub_info .row.fwrap {margin-right: 0;}

  .drop > .col.full {margin-top: 4rem;}
}